body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 150%;
    font-family:'Franklin Gothic Medium', sans-serif;
}
#first{
    background: linear-gradient(454deg, #4f4080, #9553ff);
}
#second{
    background: linear-gradient(454deg, #9574ff, #edb0ff);
    opacity: 0;
    animation: Show 1.5s 3s linear forwards;
}
#third{
    background: linear-gradient(454deg, #e490fd, #3d1d94);
    opacity: 0;
    animation: Show 1.5s 7.5s linear forwards;
}

@keyframes Show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .slide{
        font-size: 75%;
    }
}